*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    background: #DEDEDE;    
    background-image: url('/img/Fundo.png');    
    background-size: cover;
    color: #3A3A3A;
}

.line{
    width: 30%;
    height: 1px;
    background: #3A3A3A;
    margin: 10px 0;
}

.grayBTN{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: row;
    background: #545454;
    color: #DEDEDE;
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition-duration: 0.5s;   
    border: #545454 0.5px solid;    
            
}

.grayBTN:hover{
    background: #DEDEDE;
    color: #545454; 
    border: #545454 0.5px solid;    
}